:root {
  --main-color: #212121;
  --second-color: #757575;
  --background-color: #2f303a;
  --third-color: #ffffff;
  --fourth-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.nav-structure {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-structure:hover {
  color: var(--fifth-color);
}
.nav-structure:focus {
  color: var(--fifth-color);
}
.main-structure {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.third-structure {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.background {
  background-color: var(--background-color);
}

.fourth-structure {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.fifth-structure {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--fourth-color);
}

.list-style {
  list-style: none;
}
.logo {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.brand-color {
  color: var(--fifth-color);
}
.footer-logo {
  color: var(--third-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* na dole do poprawy */
ul {
  text-decoration-line: none;
  color: black;
}
a {
  color: black;
  text-decoration-line: none;
}
a:focus {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: blue;
}
h3 {
  font-family: var(--roboto);
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* nav li:hover {
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: blue;
}
header li:hover {
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: blue;
}

.mark:hover {
  border: 1px solid blue;
}
.mark_line:hover {
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: blue;
} */

.hand:hover {
  cursor: pointer;
}

/* /* .letters {
  font-family: var(--roboto);
  font-weight: 500; */

/* /*  *
font-family: "Raleway", sans-serif;
/*   */
